@import "./css/main.css";

@font-face {
  font-family: "Manrope-Medium";
  src: url("./assets/fonts/Manrope-Medium.ttf");
}

@font-face {
  font-family: "Manrope-ExtraBold";
  src: url("./assets/fonts/Manrope-ExtraBold.ttf");
}

@font-face {
  font-family: "Manrope-SemiBold";
  src: url("./assets/fonts/Manrope-Semibold.ttf");
}

@font-face {
  font-family: "Manrope-Bold";
  src: url("./assets/fonts/Manrope-Bold.ttf");
}
